<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div class="container">
        <ol class="breadcrumb">
            <li><a ui-sref="Index">Home</a></li>
            <li><a ui-sref="HotelIndex">Hotel</a></li>
            <li><a ui-sref="HotelFilterSearch">Filter Search</a></li>
            <li class="active">Select Room</li>
        </ol>
        <ol class="breadcrumb">
            <li><a ui-sref="ClientDashboard">DashBoard</a></li>
            <li>Logged in as : {{Email}}</li>
            <li><a ui-sref="Index">Logout</a></li>
        </ol>
        <div class="row">
            <article class="col-xs-12"> 
                <div class="panel panel-info">
                    <div class="panel-heading">Search Details</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <input value="{{tasks.destination}}" style="height:50px;width:220px;padding:5px;float:left;" />
                                <input value="{{tasks.checkIn}}" style="height:50px;width:220px;padding:5px;float:left;" />
                                <input value="{{tasks.checkOut}}" style="height:50px;min-width:20px;padding:5px;float:left;" />
                                <input value="{{tasks.rooms}}" style="height:50px;min-width:20px;padding:5px;float:left;" />
                                <input value="{{tasks.adults}}" style="height:50px;width:50px;padding:5px;float:left;" />
                                <input value="{{tasks.children}}" style="height:50px;width:50px;padding:5px;float:left;" />
                                <button class="btn btn-primary" ui-sref="HotelIndex" style="height:50px;width:100px;padding:5px;float:left;">Refine Search</button>
                            </div>
                        </div>                        
                    </div>
                </div>   
                <div class="panel panel-info">
                    <div class="panel-heading">Selected Hotel Details</div>
                    <div class="panel-body">
                        <p>
                            <img ng-src="{{img}}" style="width:300px;height:300px;" />
                        </p>
                        <p>
                            <input value="{{HotelDetails.Name}}" style="height:50px;width:220px;padding:5px;float:left;" />
                            <input value="{{HotelDetails.TelNumber}}" style="height:50px;width:220px;padding:5px;float:left;" />
                            <input value="{{HotelDetails.StarRating}}" style="height:50px;min-width:20px;padding:5px;float:left;" />
                            <input value="{{HotelDetails.NumberOfRooms}}" style="height:50px;min-width:20px;padding:5px;float:left;" />
                            <input value="{{HotelDetails.RoomsLeft}}" style="height:50px;width:50px;padding:5px;float:left;" />
                            <input value="{{tasks.children}}" style="height:50px;width:50px;padding:5px;float:left;" />
                            <button class="btn btn-primary" ui-sref="HotelFilterSearch" style="height:50px;width:100px;padding:5px;float:left;">Refine Hotel</button>
                        </p>        
                    </div>
                </div>
            </article>
        </div>
        <div class="row">
            <article class="col-xs-12">
                <!--Testing-->
                <div ng-repeat="x in rooms | filter:search">
                    <div class="panel panel-default">
                        <div class="panel-heading">{{x.HotelName}}</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="row">
                                    <div class="col-lg-10">  
                                        <div class="col-lg-10"><span><b>Room Number: {{x.RoomNumber}}</b></span></div><br/>
                                        <div class="col-lg-3">
                                            <label>AccommodationType: </label><br />{{x.AccommodationType}}<br />
                                            <label>Facility: </label><br />{{x.Facility}}<br />
                                        </div>
                                        <div class="col-lg-3">
                                            <label>Theme: </label><br />{{x.Theme}}<br />
                                            <label>AccessibilityFeatures: </label><br />{{x.AccessibilityFeatures}}<br />
                                        </div>
                                        
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-lg-10"> 
                                        <div class="col-lg-6 text-left"> 
                                            <label>Price:</label> {{x.Price}}<br/>
                                            <span><b><a href="" ng-click="HotelSelected(x)">Select</a></b></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Testing-->
                
                <!--<table>
                    <tr>
                        <th><b>AccommodationType</b></th>
                        <th><b>Facility</b></th>
                        <th><b>Theme</b></th>
                        <th><b>AccessibilityFeatures</b></th>
                        <th><b>Price</b></th>
                        <th><b>HotelName</b></th>
                        <th><b>RoomNumber</b></th>
                        <th><b>AdminID</b></th>
                    </tr>
                    <tr ng-repeat="x in rooms">
                        <td>{{x.AccommodationType}}</td>
                        <td>{{x.Facility}}</td>
                        <td>{{x.Theme}}</td>
                        <td>{{x.AccessibilityFeatures}}</td>
                        <td>{{x.Price}}</td>
                        <td>{{x.HotelName}}</td>
                        <td>{{x.RoomNumber}}</td>
                        <td>{{x.AdminID}}</td>
                        <td><a href="" ng-click="HotelSelected(x)">View</a></td>
                    </tr>
                </table>-->
            </article>
        </div>
    </div>
</body>
</html>